* {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}

#header {
	background-color: #868686;
	height: 100px;
	width: 1280px;
	margin: 0 auto;
	margin-bottom: 20px;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

.navcenter {
	display: inline;
	line-height: 100px;

}

#title {
	font-size: 50px;	
}

#navbar li {
	list-style-type: none;
	height: 40px;
	float: none;
	margin: 0px 90px;
	color: #FFFFFF;
	text-align: center;
}

#navbar ul {
	display: block;
	margin:0 20px;	
}


#content {
	width: 1280px;
	height: 880px;
	background-color: #868686;
	margin: 0 auto;
	
}